
@{
    ViewBag.Title = "Home Page";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Магазин Парфюмерии</title>
    <style>
        .slideshow-container {
            width: 100%;
            position: relative;
            margin: auto;
        }

        .mySlides {
            width: 100%;
            display: none;
        }

        .slideshow-container img {
            width: 100%;
            height: auto;
        }

        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

            .prev:hover, .next:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }
    </style>
</head>
<body>

    <div class="slideshow-container">
        <div class="mySlides">
            <img src="~/Images/Index/1.png" alt="Slide 1">
        </div>

        <div class="mySlides">
            <img src="~/Images/Index/2.png" alt="Slide 2">
        </div>

        <div class="mySlides">
            <img src="~/Images/Index/3.png" alt="Slide 3">
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>

    <div>
        <div>Наши магазины:</div>
        <div class="store-images">
            <img src="~/Images/Index/our1.jpg" alt="Store 1">
            <img src="~/Images/Index/our2.jpg" alt="Store 2">
            <img src="~/Images/Index/our3.jpg" alt="Store 3">
            <img src="~/Images/Index/our4.jpg" alt="Store 4">
            <img src="~/Images/Index/our5.jpg" alt="Store 5">
        </div>
    </div>

    <style>
        .store-images {
            display: flex;
        }

            .store-images img {
                width: 20%; 
                margin-right: 10px; 
            }

                .store-images img:last-child {
                    margin-right: 0;
                }
    </style>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
    </script>

</body>
</html>