
@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div class="contact_data">
    <p>
        Ваше имя </br>
        @Model.Name
    </p>
    <p>
        Фамилия </br>
        @Model.Surname
    </p>

    <p>
        Email </br>
        @Model.Email
    </p>
    <p>
        Телефон </br>
        @Model.PhoneNumber
    </p>
</div>